@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient1: linear-gradient(45deg,rgb(255,175,204), rgb(198,224,254 ) , #ffe8d6);
  --gradient2: linear-gradient(45deg ,rgb(255,175,204), rgb(198,224,254 ) );
  --gradient3: linear-gradient(45deg , #ffe8d6,rgb(198,224,254 ) );

}

body {
  background:rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.texts{
  background-image: var(--gradient1);
  background-position: left;
  background-size: 400%;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  animation: bg-animation 3s ease-in-out infinite alternate;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.valueX{
  @apply text-rose  ;
}

.valueO{
  @apply text-caramel ;
}

.valueX span {
  background-image: var(--gradient2);
  background-position: left;
  background-size: 400%;
  background-repeat: no-repeat;
  animation: bg-animation 3s ease-in-out infinite alternate;
}
.valueO span {
  background-image: var(--gradient3);
  background-position: left;
  background-size: 400%;
  background-repeat: no-repeat;
  animation: bg-animation 3s ease-in-out infinite alternate;
}


@keyframes bg-animation {
  0%{
      background-position:left ;
  }
  
  50% {
      background-position: center;
  }
  100%{
      background-position: right ;
  }
}